pandas
ninja
wheel
setuptools
fastparquet
torch>=2.2.0
safetensors>=0.4.3
sentencepiece>=0.1.97
pygments
websockets
regex
numpy
tokenizers
rich
tqdm
transformers

# TODO: I'm importing tensorizer only in instances
#       when tensorizer is explicitly invoked. Should I therefore make this
#       a required dependency..?
tensorizer

# TODO: Additionally consider whether explicitly specifying versions
#       for these dependencies is helpful or not?
